/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Open+Sans:ital@0;1&family=Poppins:wght@400;500&family=Work+Sans:wght@400;500&display=swap');


* {
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
body{
    max-width: 1920px;
    margin: 0 auto;
    
}

/* Header nav styles */

.header{
    background-color: #fcf4eb;

}
.title-info{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 228px;
    margin-top: 50px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.text-list{
    display: flex; 
    list-style: none;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    margin-top: 63px;
    margin-right: 240px;
}
/* main style  */
main{
    background-color: white;
    
}
/* Sub-title styles */
.sub-title-info{
    text-align: center;
   
}
.name{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-top: 102px;
    margin-bottom: 30px;
}
.description{
    font-size: 16px;
    color: #727272;
    margin-top: 20px ;
}
.btn-primary{
    padding: 21px 25px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}
.image{
    margin-top: 50px;
}
.image img{
    width: 1440px;
    height: 700px;
}

/* Article styles */
.articles{
    width: 1318px;
    margin: 0 auto;
    
    
}
.article-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    margin-bottom: 130px;
}
.article-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-top: 85px;
}
.team{
    width: 342px;
    height: 342px;
}
h3{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;
}
.of{
    color: #131313;
}
.feature{
    color: #FF900E;
}


/* Main article styles */
.main-article-container{
    width: 1440px;
    margin: 0 auto;
    justify-content: center;
}
.main-article{
    display: flex;
    align-items: center;
    
    gap: 146px;
    
}
.article-3 img{
    width: 708px;
    height: 982px;
}

.article-name{
    font-weight: 700;
    font-size: 45px;
    border: 5px solid orange;
    padding: 20px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
} 
.info{
   list-style: none;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   row-gap: 20px;
   
}
.info li{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 15px;
    
}
.article-3{
    width: 542px;
    margin-bottom: 150px;
}
.article-3 img{
    width: 708px;
    height: 982px;
    border-radius: 8px;
    
   
    
}
.article-3 .btn-primary-2{ 
    background: #FF900E;
    border-radius: 8px;
    padding: 45px;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
    margin-right: 12%;
}
.article-3 .experience{
    font-weight: 500;
    font-size: 25px;
}

/* article details */ 
.remain-article-details{
    text-align: left;
    padding-left: 15%;
    
}
h6{
    font-weight: 700;
font-size: 45px;
margin: 0;
}
.remain-article-info{
    font-size: 16px;
    color: #727272;
}

/* article report section */
.article-report{
    display: flex;
    justify-content: center;
    gap: 124px;
    margin-top: 100px;
}
@keyframes icon {
    0%{
       
        top: 0;
        left: 0;
    }
    25%{
        
        top: -200px;
        left: -300px;
    }
    50%{
        
        top: 300px;
        left: 550px;
    }
    75%{
        top: 300px;
        left: -100px;
    }
    100%{
        top: 0;
        left: -100px;
    }
}
.report{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px;
    text-align: center;
}
.report img{
    width: 45.22px;
    height: 45.22px;
    margin-top: 30px;
    position: relative;
    animation: icon 4s ease-in-out 2s 1 alternate; 
}
.report .number{
    font-size: 45px;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    animation: icon 4s ease-in-out 2s 1 alternate;
    transition: width 2s;
}
.number:hover{
    font-size: 100px ;

}
.report .output{
    font-size: 20px;
    color: #727272;
    position: relative;
    animation: icon 4s ease-in-out 2s 1 alternate; 
    
}


/* <!-- Sponsor section  --> */
.sponsor-info{
    margin-top: 180px;
    text-align: center;
    
}
.sponsor-logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 130px;
    mix-blend-mode: luminosity;

}

/* Footer styles */
.footer-container{
    background: #FFF4E7;
    border-radius: 8px;
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 216px;
}
.footer{
    padding: 39px 410px;
    text-align: center;   
}


/* Media query for mobile-view */
@media only screen and (Max-width: 688px){
    body{
        width: 100%; 
        
    }
    .title{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }
    .title-info, .text-list{
        margin-left: 0;
        margin-bottom: 0;
    }
    .text-list{
        margin-right: 0;
        padding: 0;
        flex-direction: column;
        text-align: left;
    }
    .name{
        font-size: 40px;
    }
    .description{
        font-size: 12px;
        margin: 0;
    }
    .image img{
        width: 100%;
    }
    .articles{
        width: 100%;
        margin-left: 10px;
    }
    .article-1{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

    }
    .article-items{
        grid-template-columns: repeat(1, 1fr);

    }
    h3{
        font-size: 40px;
    }
    .main-article-container{
        width: 100%;
        margin-left: 10px;
    }
    .main-article{
        flex-direction: column;
        gap: 80px;
    }
    .info{
        padding: 0;
    }
    .article-3{
        width: 100%;
    }
    .article-3 img{
        width: 100%;
    }
    .article-3 .btn-primary-2{
        font-size: 25px;
    }
    .article-3 .experience{
        font-size: 15px;
    }
    .remain-article-details{
        padding: 0;
    }
    .article-4{
        margin-left: 10px;
    }
    .article-report{
        flex-direction: column;
        gap: 0;
    }
    .report{
        padding: 0;
    }
    .sponsor-info{
        margin-top: 100px;
    }
    h6{
        font-size: 30px;
    }
    .sponsor-logo{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 40px;
    }
    .footer-container{
        width: 100%;
        margin-bottom: 10px;
    }
    .footer{
        text-align: center;
        padding: 0;
    }
    .article-name{
        padding:5px;
    }
}
